<!-- The login page  -->
{% extends 'base.html' %}

<!-- Import what the forms -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block header %}
{% endblock %}

{% block main %}
<!-- Check an error -->
{% if error %}
<p>{{ error }}</p>
{% endif %}

<div class="d-flex justify-content-center">
  <span class="title">
    <h1>{% block title %} Login {% endblock %}</h1>
  </span>
</div>

<div class="container">
    <form action="{{ url_for('auth.login_post') }}" method="POST">
	{{ wtf.quick_form(login_form) }}
	{{ login_form.csrf_token }}
    </form>
    <div class="text-center">
	<a href="{{ url_for('auth.signup') }}">Create Account</a>
    </div>
</div>
{% endblock %}

{% block style %}
{% endblock %}
