{% extends 'base.html' %}

<!-- Import what the forms -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block header %}
{% include 'navbar.html' %}
{% endblock %}

{% block main %}
<!-- Check an error -->
{% if error %}
<p>{{ error }}</p>
{% endif %}

<div class="d-flex justify-content-center">
  <span class="title">
    <h1>{% block title %} Settings {% endblock %}</h1>
  </span>
</div>

<div class="container">
    <form action="{{ url_for('auth.settings_post') }}" method="POST">
	{{ wtf.quick_form(settings_form) }}
	{{ settings_form.csrf_token }}
    </form>
</div>

{% endblock %}


{% block style %}
{% endblock %}
