<div class="mx-auto" style="width: 50%;">
    <div class="card">
	<div class="card-header">
	    <h4 class="card-title">{{ recipe.name }}</h4>
	</div>
	<div class="card-body">
	    {% if recipe.description|length > 100 %}
	    <h6 class="card-subtitle mb-2 text-muted ">{{ recipe.description[0:100] }}...</h6>
	    {% else %}
	    <h6 class="card-subtitle mb-2 text-muted ">{{ recipe.description }}</h6>
	    {% endif %}
	    <p class="card-text">{{ recipe.portions }} portions</p>
	    {% if recipe.preptime != "" %}
	    <p class="card-text">{{ recipe.preptime }} prep time</p>
	    {% endif %}

	    {% if recipe.cooktime != "" %}
	    <p class="card-text">{{ recipe.cooktime }} cook time</p>
	    {% endif %}
	    
	    <p class="card-text">Created on {{ recipe.datetime.strftime('%B %d, %Y') }}</p>
	    <a href="{{ url_for('recipe.view', id = recipe.id) }}" class="btn btn-primary">View</a>
	</div>
    </div>
</div>
