<!-- The home app flask -->

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}

{% block style %}

{% endblock %}

{% block header %}
{% include 'navbar.html' %}
{% endblock %}


{% block main %}


<div class="d-flex justify-content-center">
  <span class="title">
    <h1>{% block title %} Home {% endblock %}</h1>
  </span>
</div>


<div class="text-center">
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
</div>


<div class="content text-center">
    <h3>Favorites List</h3>
    <!-- empty set -->
  {% if not data  %}
    <p>Empty Favorites List...</p>
  {% else %}
    <ul>
      {% for recipe in data %}
        <li class="recipe-card mb-3">
          {% include 'recipe/card.html' %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<style>
  .recipe-card {
    margin-top: 10px;
  }

  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

</style>


{% endblock %}
