<!-- The home app flask -->

{% extends 'base.html' %}

{% block style %}
<style>
h2 {
    width: 100%;
}

.title {
    margin: 5px;
    width: 100%;
}

.content {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    flex: 20%;
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3;
    inline-size: 100%;
}

.title a {
    color: #00a36f;
    text-decoration: none;
}

nav a {
    color: #d64161;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

</style>
{% endblock %}

{% block header %}
<nav>
    <a href="{{ url_for('home.home') }}">FlaskApp</a>
    <a href="#">Posts</a>
    <a href="#">Categories</a>
    <a href="#">Questions</a>
    <a href="{{ url_for('auth.logout') }}">LogOut</a>
</nav>
<hr>
{% endblock %}


{% block main %}
<span class="title">
    <h1>{% block title %} The Home Page of FlaskApp {% endblock %}</h1>
</span>
<div class="content">
    <h2>This is the main Flask blueprint</h2>
    <h3>There your are babyyy >:) {{ user_data.username }} and you are a chef or what? {{ is_chef }}</h3>
</div>
{% endblock %}
