<!-- The home app flask -->

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}

{% block style %}

{% endblock %}

{% block header %}
{% include 'navbar.html' %}
{% endblock %}


{% block main %}
<div class="d-flex justify-content-center">
  <span class="title">
    <h1>{% block title %} Home {% endblock %}</h1>
  </span>
</div>

<div class="content text-center">
    <h2>Recipes/Lists/Categories</h2>
</div>

<div>
    {% if data == [] %}
    <!--  -->
    {% else %}

    {% endif %}
</div>

{% endblock %}
